[main]
# 监控数据刷新间隔（单位：秒，默认值：3)
interval = 3
# 监控数据持久化功能刷新间隔，为0则表示不开启监控数据持久化功能（单位：秒，默认值：0）
log_interval = 0
# 内存监控大盘刷新间隔，为0则表示不开启内存监控大盘功能（单位：秒，默认值：30）
mem_interval = 30
# 动态内存相关指标的最低刷新间隔，不建议修改（单位：秒，默认值：60）
dynamic_mem_interval = 60
# 动态内存相关指标支持的最大CPU利用率，当CPU利用率超过此值时，动态内存相关的指标停止刷新（默认值：50）
dynamic_mem_cpu_thresh = 50
# 工具连接数据库使用的用户名（默认值："system"）
user = "system"
# 数据库密码（非SYSDBA模式时使用，配置后无需手动输入）
# password = "your_password"
# 是否使用SYSDBA模式登录（oracle OS用户免密本地连接，默认值：true）
sysdba = true
# 数据库主机地址（默认值："localhost"）
host = "localhost"
# 工具连接的数据库的监听端口（默认值：1521）
port = 1521
# Oracle服务名（默认值："orcl"）
service_name = "orcl"
# 监控数据日志保存目录
persist_file_base_dir = "logs"
# 监控数据日志单个文件的最大大小，超过此大小的日志会被压缩（单位：MB）
persist_file_max_size = 5
# 监控数据日志最大保留数量
max_backup_count = 30
# 工具支持的最大并发用户数量
max_concurrent_users = 3
# 执行SQL以及操作系统命令的耗时阈值，超过阈值时会打印耗时日志（单位：秒）
sql_command_time_thresh = 1
# 监控模块刷新以及应急预案模块分析耗时阈值，超过阈值时会打印耗时日志（单位：秒）
refresh_analyze_time_thresh = 1

[alarm]
# 定义监控指标超过阈值后需要写告警日志的文件
alarm_file = "/var/log/dbtop_alarm.log"
# 定义告警首次上报后，后续的持续抑制时间（单位：秒）
suppression_interval = 600
# 各监控指标的自定义阈值
%CPU = 80

[emergency]
# 应急预案特性总开关
enable = true
# 应急预案在内存中保存的最大快照数量
max_snapshot_number = 30
# 触发应急后自动保存快照数据到日志文件，日志文件保存的目录
emergency_log_base_dir = "logs_emergency"
# 触发应急后自动保存快照数据到日志文件，配置项为单个日志文件的最大大小（单位：MB）
log_file_max_size = 10

[emergency.plan_change]
snapshot_persist_number = 300
snapshot_compare_scope = 10
max_sql_snapshot_number = 600
os_cpu_thresh = 60
sql_acs_pct_thresh = 2
sql_acs_abs_thresh = 20
sql_acs_ins_pct_thresh = 0.3
sql_latency_pct_thresh = 2
observation_time = 600

[emergency.performance_jitter]
snapshot_persist_number = 120
snapshot_compare_scope = 10
ins_acs_pct_thresh = 2
ins_acs_abs_thresh = 20
os_cpu_pct_thresh = 2
os_cpu_thresh = 50
rw_await_pct_thresh = 2
rw_await_abs_thresh = 5
aqu_sz_pct_thresh = 2
aqu_sz_abs_thresh = 5

[emergency.slow_sql]
terminate = false
exclude_users = "SYS;SYSTEM"
procedure = "procedure1;procedure2;procedure3"
# strategy0 = "00:00,08:00,600,180,300"
# strategy1 = "08:00,19:00,300,60,900"
# strategy2 = "19:00,23:59,600,180,300"

[emergency.cpu_full]
os_cpu_thresh = 80
overtime_thresh = 50

[emergency.io_full]
io_aqu_sz_thresh = 20
overtime_thresh = 50

[emergency.sessions_full]
# 触发进程/会话满应急的使用率阈值（百分比数值，取值范围：0~100）
sessions_full_thresh = 70
overtime_thresh = 50
terminate = false
user_whitelist = ""

[emergency.connections_full]
connections_full_thresh = 90
terminate = false
user_whitelist = ""

[emergency.memory_full]
snapshot_persist_number = 120
# PGA使用率阈值（百分比数值，取值范围：0~100）
pga_pct_thresh = 80
# SGA空闲比例阈值，低于此阈值触发告警（百分比数值，取值范围：0~100）
sga_free_pct_thresh = 10
